*, *::before, *::after{
    background-color: #16181f;
    font-family: sans-serif;

    color: #e1e6f0;
}

.App{
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 50px;
}







.otp-input{
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
}
